<div class="footer">
  <!--底部-->
  <div class="foot_title">
  </div>


  <p class="foot_msg">24小时预订热线：0431-81931151 | 传真：0431-81931151 | 邮编：130000 | E-mail：935918715@qq.com |
    投诉：0000-0000000</p>

  <p class="foot_msg">地址：西安大路新世纪鸿源地址(<a href="http://j.map.baidu.com/4L2ov" target="_blank">查看地图</a>) | 粤ICP备11046178号-1 | 官网：
    <a href="http://szx.pxwgj.com">http://szx.pxwgj.com</a>
  </p>
</div>


<!--<div class="qq_online">-->
  <!--<a href="http://b.qq.com/webc.htm?new=0&sid=935918715&eid=218808P8z8p8R8y8z8z8x&o=&q=7&from=qqwpa" onclick="try{_tsa.push([&#39;_trackEvent&#39;, &#39;XK企业QQ&#39;, &#39;点击企业QQ&#39;, &#39;xkcits&#39;, 10]);}catch(e){}" target="_blank"></a>-->
  <!--<div class="open_qq" onclick="try{_tsa.push([&#39;_trackEvent&#39;, &#39;XK企业QQ&#39;, &#39;点击企业QQ&#39;, &#39;xkcits&#39;, 10]);}catch(e){}"></div>-->
  <!--<div id="close_qq"></div>-->
<!--</div>-->