<div class="footer">
  <!--底部-->
  <div class="foot_title">
    <p>
      <a href="#">关于我们</a> 丨
      <a href="#">旅游资质</a> 丨
      <a href="#">合作加盟</a> 丨
      <a href="#">人才招聘</a> 丨
      <a href="#">用户协议</a> 丨
      <a href="#">网站地图</a> 丨
      <a href="#">联系我们</a> 丨
      <a href="#">付款方式</a>
    </p>
  </div>


  <p class="foot_msg">24小时预订热线：400-888-8888 | 传真：0000-0000000 | 邮编：130000 | E-mail：315046509@qq.com |
    投诉：0000-0000000</p>

  <p class="foot_msg">地址：xxxx地址(查看地图) | 粤ICP备11046178号-1 | 官网：
    <a href="http://www.ccpxcm.com">http://www.pxwgj.com</a>
  </p>

  <p class="foot_msg">Copyright © @ 2014-2019 All Rights Reserved. Powered By
    <a href="#">海外旅行社</a>旅游网站
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000059862'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000059862%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    <span id="cnzz_stat_icon_1000059862"><a href="http://www.cnzz.com/stat/website.php?web_id=1000059862" target="_blank" title="站长统计">

    </a></span>
  </p>
  <p class="foot_msg"></p>
</div>

<!--
<div class="qq_online">
  <a href="http://b.qq.com/webc.htm?new=0&sid=4000677888&eid=218808P8z8p8R8y8z8z8x&o=&q=7&from=qqwpa" onclick="try{_tsa.push([&#39;_trackEvent&#39;, &#39;XK企业QQ&#39;, &#39;点击企业QQ&#39;, &#39;xkcits&#39;, 10]);}catch(e){}" target="_blank"></a>
  <div class="open_qq" onclick="try{_tsa.push([&#39;_trackEvent&#39;, &#39;XK企业QQ&#39;, &#39;点击企业QQ&#39;, &#39;xkcits&#39;, 10]);}catch(e){}"></div>
  <div id="close_qq"></div>
</div>
-->

<div style="display:none;">
  <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F86586d3dd03c5f8e00d702213bc3a7d9' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script src="../javascripts/h.js" type="text/javascript"></script>
  <a href="http://tongji.baidu.com/hm-web/welcome/ico?s=86586d3dd03c5f8e00d702213bc3a7d9" target="_blank">
    <img border="0" src="../images/21.gif" width="20" height="20"></a>
</div>
<script>document.write("<scr" + "ipt language=\"javascript\" src=\"http://chat.53kf.com/kf.php?arg=xk888888&style=1&keyword=" + escape(document.referrer) + "\"></scr" + "ipt>");</script>


