<div class="center">
  <div class="travel_fxb">
    <h2 class="travel_Hd">
      <span class="travel_Hd_type travel_gt_type">旅游风向标</span>
      <span class="travel_Hd_msg">看看大家都去哪儿！</span>
    </h2>
    <ul class="Towhere">
      <li class="Towhere1">
        <div class="Towhere_img">
          <img src="../images/i1.jpg" data-original="../images/i1.jpg" alt="王牌品质-热情泰国" width="350px" height="150px">

          <p>王牌品质-热情泰国</p>
        </div>
        <a class="Towhere_jieshao">
          <span class="Towhere_title">泰国海洋之梦六天豪华美食游</span>
          <span class="Towhere_msg">推荐理由：全程当地精选酒店，无强迫自费，无强迫购物，品质保证！带你领略微笑国度的千姿百“泰”！</span>
                    <span class="Towhere_price">
                    	<span>3199</span>元/人起
                        <i></i>
                    </span>
        </a>
      </li>
      <li class="Towhere2">
        <div class="Towhere_img">
          <img src="../images/i2.jpg" data-original="../images/i2.jpg" alt="特惠10月-港澳四日游" width="282px" height="303px">

          <p> 特惠10月-港澳四日游</p>
        </div>
        <a class="Towhere_jieshao">
          <span class="Towhere_title"> 特惠10月-港澳四日游</span>
          <span class="Towhere_msg">推荐理由：游港澳诚信线路,送香港手机卡200元{含200元话费}，2人送一张电话卡，4人以上送两张,4人以上价格可优惠洽谈协商；2人报名送深圳一间酒店住宿，4人以上送两间；每逢节假日加房差</span>
                    <span class="Towhere_price">
                    	<span>1000</span>元/人起
                    </span>
          <span class="Towhere_more"></span>
        </a>
      </li>
      <li class="Towhere3">
        <div class="Towhere_img">
          <img src="../images/i3.jpg" data-original="../images/i3.jpg" alt="绝色长滩-浪漫风帆" width="173px" height="148px">

          <p>绝色长滩-浪漫风帆</p>
        </div>
        <a class="Towhere_jieshao">
          <span class="Towhere_title">长滩岛浪漫豪华五日游</span>
          <span class="Towhere_price"><span>3999</span>元/人起</span>
        </a>
      </li>
      <li class="Towhere4">
        <div class="Towhere_img">
          <img src="../images/i4.jpg" data-original="../images/i4.jpg" alt="厦门鼓浪屿三日游" width="173px" height="148px">

          <p>厦门鼓浪屿三日游</p>
        </div>
        <a class="Towhere_jieshao">
          <span class="Towhere_title">厦门鼓浪屿三日游</span>
                    <span class="Towhere_price">
                    	<span>378</span>元/人起
                    </span>
        </a>
      </li>
      <li class="Towhere5">
        <div class="Towhere_img J-Towhere_img">
          <img src="../images/i5.jpg" data-original="../images/i5.jpg" alt="桂林山水之乐双飞四天休闲游" width="173px" height="148px">

          <p>桂林山水休闲游</p>
        </div>
        <a class="Towhere_jieshao">
          <span class="Towhere_title">桂林山水之乐双飞四天休闲游</span>
                    <span class="Towhere_price">
                    	<span>1468</span>元/人起
                    </span>
        </a>
      </li>
      <li class="Towhere6">
        <div class="Towhere_img">
          <img src="../images/i6.jpg" data-original="../images/i6.jpg" alt="美丽三亚 浪漫天涯" width="173px" height="148px">

          <p>美丽三亚 浪漫天涯</p>
        </div>
        <a class="Towhere_jieshao">
          <span class="Towhere_title">三亚非诚勿扰海景酒店度假团四日游</span>
                    <span class="Towhere_price">
                    	<span>2340</span>元/人起
                    </span>
        </a>
      </li>
      <li class="Towhere7">
        <div class="Towhere_img">
          <img src="../images/i7.jpg" data-original="../images/i7.jpg" alt="浪漫海岛-蜜月之旅" width="350px" height="150px">

          <p>马尔代夫-蜜月之旅</p>
        </div>

        <a class="Towhere_jieshao">
          <span class="Towhere_title">马尔代夫港丽岛6天4晚奢华游</span>
          <span class="Towhere_msg">推荐理由：面朝大海，执子之手；全球11大蜜月度假胜地精选，一起相约海滨，踏上一段梦幻的蜜月之旅，找一个浪漫的地方见证爱情。</span>
                    <span class="Towhere_price">
                    	<span>11300</span>元/人起
                        <i></i>
                    </span>
        </a>
      </li>
    </ul>
  </div>
</div>