<div class="classify_right_sidebar">
  <% if @member_curr %>
      <p class="travel_tj_price">
        会员：<span><%= @member_curr.name %></span>
      </p>

  <% else %>
      <div>
        <a class="sidebar_register" href="<%= signup_path %>">注 册</a>
        <a class="sidebar_login" href="<%= login_path %>">登 录</a>
      </div>
  <% end %>
  <div class="sidebar_my">
    <div class="sidebar_my_zj">
      <p class="sidebar_my_zj_p"><span>99%</span>满意度</p>
      <p>已有<b class="c_f60">3537329</b>人预订出游</p>
    </div>
    <div class="order_play">
      <div class="new_orders">
        <div class="hot_mudd">
          <p class="order_title">
            <a href="#">香格里拉</a>
            <span>热门目的地</span>
          </p>

          <div class="orders">
            <ul><li>
              <p>客户 <span>1368***5934</span> 30分钟前预订了
                <a title="澳门一天游（金莎娱乐城线）品质纯玩团" target="_blank" href="/gangao/423.html">澳门一天游（金莎娱乐城线）品质纯玩团</a>
              </p>
            </li><li>
              <p>客户 <span>1342***0547</span> 15分钟前预订了
                <a title="港澳三日游（海洋+大屿山+澳门）优质诚信" target="_blank" href="/gangao/602.html">港澳三日游（海洋+大屿山+澳门）优质诚信</a>
              </p>
            </li><li>
              <p>客户 <span>1342***0547</span> 27分钟前预订了
                <a title="港澳三日游（海洋+大屿山+澳门）优质诚信" target="_blank" href="/gangao/602.html">港澳三日游（海洋+大屿山+澳门）优质诚信</a>
              </p>
            </li><li>
              <p>客户 <span>1501***9016</span> 15分钟前预订了
                <a title="香港三日游（海洋+杜莎+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+杜莎+自由）品质纯玩团</a>
              </p>
            </li><li>
              <p>客户 <span>1368***5934</span> 28分钟前预订了
                <a title="澳门一天游（金莎娱乐城线）品质纯玩团" target="_blank" href="/gangao/423.html">澳门一天游（金莎娱乐城线）品质纯玩团</a>
              </p>
            </li>

            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="hot_mudd">
          <p class="order_title">
            <a href="#">云南</a>
            <span>热门目的地</span>
          </p>

          <div class="orders">
            <ul><li>
              <p>客户 <span>1348***9143</span> 26分钟前预订了
                <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
              </p>
            </li><li>
              <p>客户 <span>1597***0098</span> 29分钟前预订了
                <a title="港澳五日游（海洋+迪+杜莎+澳门）品质纯玩团" target="_blank" href="">港澳五日游（海洋+迪+杜莎+澳门）品质纯玩团</a>
              </p>
            </li><li>
              <p>客户 <span>1332***8109</span> 19分钟前预订了
                <a title="港澳四日游（优质诚信品质游）海洋公园线" target="_blank" href="">港澳四日游（优质诚信品质游）海洋公园线</a>
              </p>
            </li><li>
              <p>客户 <span>1397***9003</span> 11分钟前预订了
                <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
              </p>
            </li><li>
              <p>客户 <span>1397***9003</span> 13分钟前预订了
                <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
              </p>
            </li>

            </ul>
          </div>
        </div><div class="hot_mudd">
        <p class="order_title">
          <a href="#">巴厘岛</a>
          <span>热门目的地</span>
        </p>

        <div class="orders">
          <ul><li>
            <p>客户 <span>1860***5700</span> 15分钟前预订了
              <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1868***7818</span> 25分钟前预订了
              <a title="香港一日游（维多利亚游轮）品质纯玩团" target="_blank" href="">香港一日游（维多利亚游轮）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1393***6530</span> 30分钟前预订了
              <a title="港澳四日游（海洋+迪士尼+澳门）品质纯玩团" target="_blank" href="">港澳四日游（海洋+迪士尼+澳门）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1393***6530</span> 28分钟前预订了
              <a title="港澳四日游（海洋+迪士尼+澳门）品质纯玩团" target="_blank" href="">港澳四日游（海洋+迪士尼+澳门）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1860***5700</span> 26分钟前预订了
              <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
            </p>
          </li>

          </ul>
        </div>
      </div><div class="hot_mudd">
        <p class="order_title">
          <a href="#">西藏</a>
          <span>热门目的地</span>
        </p>

        <div class="orders">
          <ul><li style="overflow: hidden; height: 12.096757979237097px; margin-top: 0px; margin-bottom: 4.032252659745699px; padding-top: 0px; padding-bottom: 0px;">
            <p>客户 <span>1860***5700</span> 25分钟前预订了
              <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1860***5700</span> 25分钟前预订了
              <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1860***3103</span> 24分钟前预订了
              <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
            </p>
          </li><li>
            <p>客户 <span>1376***2695</span> 15分钟前预订了
              <a title="澳门一日游（一日观光）澳门品质团" target="_blank" href="/gangao/731.html">澳门一日游（一日观光）澳门品质团</a>
            </p>
          </li><li>
            <p>客户 <span>1376***2695</span> 9分钟前预订了
              <a title="澳门一日游（一日观光）澳门品质团" target="_blank" href="/gangao/731.html">澳门一日游（一日观光）澳门品质团</a>
            </p>
          </li><li>
            <p>客户 <span>1376***2695</span> 6分钟前预订了
              <a title="澳门一日游（一日观光）澳门品质团" target="_blank" href="/gangao/731.html">澳门一日游（一日观光）澳门品质团</a>
            </p>
          </li>


          </ul>
        </div>
      </div></div>
    </div>
  </div>
</div>